<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ichat">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.IChat">
        <activity
            android:name=".activityes.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activityes.ProfileEditActivity"
            android:exported="false" />
        <activity
            android:name=".activityes.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activityes.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activityes.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activityes.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activityes.StartActivity"
            android:exported="false" />
        <activity
            android:name=".activityes.SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>